/*---------- Estrutura Base ----------*/

body {
    background-color: var(--backgraund);
    height: 4846px;
    margin: 0 auto;
    font-family: var(--font-family);
}


.main {
    max-width: 1194px;
    margin: 0 auto;
}
/* ----------------------------------- */
    
/*---------- Trabalhe apartir daqui ----------*/

/*
    IMPORTANTE
        Para qualquer modificação desejada no "body" e/ou na "main", tente manter as classes ja existentes e crei uma classe nova para as novas modificações
 */







.contato {
    height: 800px;
    background-color: yellow;
}




 .footer {
    height: 95px;
    background-color: var(--primary-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
 }



 .footer_email > a{
    font-size: var(--font-size-6);
    color: var(--primary-white);
    font-weight: var (--font-weight-regular);
    text-decoration: none;
    display: flex;
 }

 .footer_logo > img{
    width: 145px;
    height: 70px;
 }

 .footer_direitos {
    font-size: var(--font-size-6);
    color: var(--primary-white);
    font-weight: var (--font-weight-regular);
    text-align: center;
 }