/*---------- Estrutura Base ----------*/

body {
    background-color: var(--backgraund);
    height: 4846px;
    margin: 0 auto;
    font-family: var(--font-family);
}


.main {
    max-width: 1194px;
    margin: 0 auto;
}
/* ----------------------------------- */
    
/*---------- Trabalhe apartir daqui ----------*/

/*
    IMPORTANTE
        Para qualquer modificação desejada no "body" e/ou na "main", tente manter as classes ja existentes e crei uma classe nova para as novas modificações
 */

 .texto_paragrafo {
     width: 582px;
     font-size: var(--font-size-4);
 }
 .texto_titulo {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-bold);
 }
 .frame_imagem {
    max-width: 582px;
    max-height: 582px;
 }
 .frame_btn {
    background-color: var(--primary-black);
    width: 204px;
    height: 55px;
}
.btn_a {
    text-decoration: none;
    color: var(--primary-white);
    font-size: var(--font-size-btn);
    font-weight: var(--font-weight-bold);
 }
.sobre_frame {
    display: flex;
    height: 584px;
    width: 1193px;
    justify-content: space-between;
}
.frame_imagem {
    margin-top: 122px;
    justify-content: flex-left;
} 
.frame_texto {
    margin-top: 55px;
    justify-content: flex-rigth;
}
